body.light {
    background: #ffffff;
}

body.dark {
    background: #1f1e25;
}

.error-container {
    display: flex;
    height: 50vh;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

body.light .error-title {
    color: #333238;
}
body.dark .error-title {
    color: #ececef;
}